<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="TransactionProcessing" connectionString="Initial Catalog=TransactionProcessing;Data Source=devreportsql.boulder.sah.com;User Id=SAHUser;PASSWORD=yt*ip%;Connection Timeout=720;Application Name='Transaction Processor Service';" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>